.textbox_main
{
    position: relative;
    top: 40px;
    width: 100%;
    height: 100%;
    background-color:  rgb(255, 237, 237);
    flex: 1;
    font-size: 20px;
    border: none;

}
.inputt
{
    outline: none;
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    flex: 1;
    font-size: 12px;
    border: none;
    padding: 20px;
   background-color: rgb(255, 237, 237);
    overflow: scroll;
    border-bottom: 1px solid rgb(200, 199, 199);
    margin-bottom: 10px;

}
.buttonn{
    position: relative;
    top: 20px;
    right: 34%;
    text-decoration: none;
    color: rgb(58, 58, 58);
    background-color:  rgb(221, 74, 109);
    border: 2px solid;
    border-radius: 12px;
    padding: 4px;
    font-size: 12px;

}