.explorecard_box{
    display: flex;
    overflow: scroll;
    scroll-behavior: snap;
   margin-top: 70px;
   
}

.Gratitude{
    background-image: url('/gratitude.png');
    height: 220px;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    background-position-x: -34px;
    background-position-y: -24px;
    background-blend-mode: multiply;
    background-color: rgb(255, 242, 242);
    border: 1px solid rgb(186, 186, 186);
    box-shadow: 1px 1px 10px 1px rgb(186, 186, 186);
    
    }
.Morning{
        background-image: url('/morning.png');
        background-size: cover;
        background-position: center;
        height: 220px;
        border-radius: 20px;
        background-blend-mode: multiply;
        background-color: rgb(255, 242, 242);
        border: 1px solid rgb(186, 186, 186);
        box-shadow: 1px 1px 10px 1px rgb(186, 186, 186);
        background-position-x: -14px;
         background-position-y: -14px;
    }
.Dream{
        background-image: url('/dream.png');
        background-size: cover;
        background-position: center;
        height: 220px;
        border-radius: 20px;
        background-blend-mode: multiply;
        background-color: rgb(255, 242, 242);
        border: 1px solid rgb(186, 186, 186);
        box-shadow: 1px 1px 10px 1px rgb(186, 186, 186);
        background-position-x: -24px;
        background-position-y: 5px;
    }
.Negative{
        background-image: url('/negative2.png');
        height: 220px;
        border-radius: 20px;
        background-color: rgb(255, 242, 242);
        border: 1px solid rgb(186, 186, 186);
    }
.Evening{
  
        background-image: url('/evening2.png');
        background-size: cover;
        background-position: center;
        height: 220px;
        border-radius: 20px;
        background-blend-mode: multiply;
        background-color: rgb(255, 242, 242);
        border: 1px solid rgb(186, 186, 186);
        box-shadow: 1px 1px 10px 1px rgb(186, 186, 186);
    }
.Evening:hover{
    background-color: rgb(255, 247, 247);
    cursor: pointer;
}
.Gratitude:hover{
    background-color: rgb(255, 247, 247);
    cursor: pointer;
}
.Morning:hover{
    background-color: rgb(255, 247, 247);
    cursor: pointer;
}
.Dream:hover{
    background-color: rgb(255, 247, 247);
    cursor: pointer;
}

.size{
    width: 200px;
    margin-right: 10px;
    border-radius: 20px;
}
.text{
    position: relative;
    bottom: -161px;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    color: rgb(43, 43, 43);
}

.arow{
    position: relative;
    top: 66px;
    left: 185px;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
    color: rgb(120, 120, 120);
}