.header_top{
   display: flex;
   flex-direction: column; 
    border: 1px solid var(--twitter-background);
    min-width: fit-content;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;  
   
  }
  .flexer{
display: flex;
margin-top: 0px;
  }

  .align{
    align-items: center;
    margin-top: 0px;
  }
  .font_s{
    font-size: 14px;
    font-weight: 800;
    margin-left: 20px;
    
   
  }
  .head_2{

    margin-top: 13px;
    margin-left: 10px;
    font-size: 16px;
    font-weight: 700;
    font-family: "Courier New";
    
  }
  .head_1{

    font-size: 16px;
    font-weight: 700;
    justify-content: space-between;
    margin-left: 23px;
    margin-top: 20px;
    font-family:"Courier New";
  }

  
.space{
   margin-left: 13px;
   color: gray;

}
.space1{
    margin-right: 10px;
    color: gray;
 
 }
.space:hover{
    margin-left: 13px;
    color: rgb(8, 8, 8);
    
 }
 .space1:hover{
    margin-right: 13px;
    color: rgb(8, 8, 8);
    
 }
 .link{
        text-decoration: none;
        color: rgb(91, 91, 91);
    
 }
 .a{
 width: 100%;
 overflow: scroll;
 }
 .Add_icon{
  background-color: rgba(226, 43, 144, 0.861);
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  font-size: 28px;
  color: #ffffff;
  position: absolute;
  bottom: 20px;
  right: 49%;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  position: fixed;
 }
 .active{
  color: rgba(34, 34, 34, 0.861);
 }
 .link_today{
  position: relative;
  bottom:1px
 }