.xentry_card{
    margin-top: 40px;
    text-align: left;
}
.xentry_box{
    text-align: left;
    margin-top: 0px;
    background-color: rgb(255, 249, 241);
    padding: 10px;
}

.xentry_date{
    text-align: left;
    margin-left: 10px;
    margin-bottom: 20px;
    font-size: 18px;
    font-family: "Courier New";
    text-decoration: none;
    font-weight: 700;
    color: rgb(62, 64, 69);
}
.xentry_text{
   
    margin-left: 10px;
    font-size: 15px;
    font-family: "Courier New";
}
.xentry_textfalse{
   
    margin-left: 10px;
    font-size: 15px;
    font-family: "Courier New";
    color: rgb(35, 32, 238);
}

.twoButtons{
   
}
.threeButtons{
  display: flex;
  justify-content: space-between;
  font-size: 16px;
    font-family: "Courier New";
    text-decoration: none;
    font-weight: 600;
    color: rgb(86, 89, 95);
    margin-top: 10px;
  
}
.summaryButton{
   width: 100px;
 
    
}
.summaryButton2{
    width: 100px;
    
    background-color: rgb(255, 249, 241);
    
}

.entryButton{
    width: 100px;
    margin-left: 10px;
    
}
.entryButton2{
    width: 100px;
    background-color: rgb(255, 249, 241);
    
}
.deleteButton{
  font-weight: 600;
  
}

.summaryButton:hover{
    
    background-color: rgb(222, 197, 197);
    border-radius: 4px;
   
    
}
.entryButton:hover{
    

    background-color: rgb(246, 221, 221);
    border-radius: 4px;
}

.arrowButton{
    margin-right: 10px;
    width: 17px;
    background-color: rgb(255, 237, 237);
}
.pop{
    background-color: rgb(251, 251, 251);
    border: none;
    width: 100%;
    height: 30px;
    padding-top: 2px;
}